body {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    background-color: #000000;
    }
h1{
    color: #ffffff;
}
ul{
    color: #808080
}
button {
    background-color: #000000;
    color:#ffffff;
    
}